@mixin body {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

@mixin h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: $DarkShade;
}

@mixin h2 {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $DarkShade;
}

@mixin h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $DarkShade;
}
