@import "colors";
@import "mixins";

body {
  @include body;
}

.card-date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px;
}

.title-date {
 @include h1;
 flex-basis: 100%;

}

.text {
  @include h3;
  text-transform: uppercase;
}

.input-date {
  border: 1px solid #1F204140;
  padding: 8px;
  box-sizing: border-box;
  max-width: 150px;
    display: flex;
  justify-content: space-between;
}

.dropdown {
  border: none;
  max-width: 70%;
}

.arrival-departure:nth-last-child(-n+2){
  flex-basis: 100%;
}

.input-ghost {
  border: 1px solid #1F204140;
  padding: 10px;
  box-sizing: border-box;
    display: flex;
  justify-content: space-between;
}

.dropdown input::placeholder {
    @include body;
    text-transform: uppercase;
    padding: 8px 10px;
}

.ghost input::placeholder {
  text-transform: none;
}

.arrow {
  width: 7px;
  height: 7px;
  border-top: 2px solid #1F204180;
  border-right: 2px solid #1F204180;
margin: 10px;
  transform: rotate(135deg);
  cursor: pointer;
}


.btn {
  @include h3;
  display: flex;
  flex-basis: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  margin: 30px 0px 10px;
}