mixin colors-block
  -
    let rectangle = "color-rectangle"
    let text-color = "color-text"

  .block-color
    div(class = rectangle, darkshade-100)
    div(class = text-color)
      p = text-color-p
      span = color

