mixin type(sizeTitle, typeTitleText, sizeText, typeText)
 .block-type 
  div(class= 'type-title', class= sizeTitle)= typeTitleText
  div(class= 'type-text', class= sizeText)= typeText

  -

script(src='components/type/block-type.js')
