@import "../metalamp/src/mixins";
@import "../metalamp/src/colors";

.type-title {
  color: $DarkShade5;
  font-weight: 400;
  margin-right: 30px;
  width: 37px;
  text-align: right;
}

.type-text {
  font-weight: 700;
  color: $DarkShade100;
  &:first-letter {
    text-transform: uppercase;
  }
}

.type_max {
  font-size: 24px;
  max-width: 370px;
}

.type_medium {
  font-size: 19px;
  max-width: 312px;
}

.type_min {
  font-size: 12px;
  text-transform: uppercase;
}

.type_body {
  font-size: 14px;
  color: $DarkShade75;
  font-weight: 400;
  max-width: 302px;
}