@use "/components/colors/block-color.scss";
@use "/components/type/block-type.scss";

.colors-types {
  max-height: 900px;
  display: flex;
  margin: 140px;
  justify-content: space-between;
  align-content: space-around;
}

.colors {
  flex-flow: column wrap;
}

.block-type {
  display: flex;
  max-width: 469px;
  margin-bottom: 50px;
}