.colors-types
 .colors
  .block-color
   .color-rectangle.darkshade-100
   .color-text 
    p Dark Shade 100%
    span #1F2041
  .block-color
   .color-rectangle.darkshade-75
   .color-text 
    p Dark Shade 75%
    span #1F2041
  .block-color
   .color-rectangle.darkshade-50
   .color-text 
    p Dark Shade 50%
    span #1F2041
  .block-color
   .color-rectangle.darkshade-25
   .color-text 
    p Dark Shade 25%
    span #1F2041
  .block-color
   .color-rectangle.darkshade-5
   .color-text 
    p Dark Shade 5%
    span #1F2041
  .block-color
   .color-rectangle.purple
   .color-text 
    p Purple
    span #BC9CFF
  .block-color
   .color-rectangle.green
   .color-text 
    p Green
    span #6FCF97

 .types 
  .block-type
   .type-title.type_max H1
   .type-text.type_max This one is the sub-section or widget title
  .block-type
   .type-title.type_medium H2
   .type-text.type_medium Next one is the item title inside widgets
  .block-type
   .type-title.type_min H3
   .type-text.type_min This is a label or CTA text
  .block-type
   .type-title body
   .type-text.type_body This is the body text which is used for most of the design, like paragraphs, lists, etc.
