.cards {
display: flex;
padding: 140px;
justify-content: space-between;
align-content: space-around;
flex-flow: column wrap;
background: #e5e5e5;
max-height: 1100px;
}

.card {
  max-width: 380px;
  padding: 40px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 25px 0px #00000033;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 40px;
}

.number {
@include max-text;
display: flex;
justify-content: space-between;
flex-basis: 100%;
align-items: center;
align-content: space-around;
}

.mt-30 {
  margin-top: 30px;
}

.title-card {
@include max-text;
small {
 font-size: 12px;
 text-transform: uppercase;
}
span:nth-last-child(1) {
  font-size: 12px;
  color: $Purple;
}
}

.price {
  font-size: 14px;
  color: $DarkShade50;

  span:nth-last-child(1) {
  font-weight: 400;
  font-size: 12px;
  }
}

.sum {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  color: $DarkShade75;
}

.price-info {
  max-width: 241px;
  margin-bottom: 10px;
  display: flex;
}

.ellipse {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  min-width: 20px;
  height: 20px;
  border: 1px solid $DarkShade25;
  border-radius: 50%;
  box-sizing: border-box;
  color: $DarkShade25;
  margin-left: 9px;
  cursor: pointer;
}

.price-money {
}

.text_medium {
@include medium-text;
}

.result {
  display: flex;
  height: 24px;
  align-items: flex-end;
}
.price-border {
  box-sizing: border-box;
  width: 176px;
  border-bottom: 1px dashed $DarkShade25;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
margin-bottom: 10px;
}

.b-medium-radio {
    max-width: 230px;
    flex-basis: 100%;
   }

.toxin-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.toxin-question {
  text-decoration: none;
  color: #000;
}

.mb-40 {
  margin-bottom: 40px;
}


.card-min {
  max-width: 270px;
  padding: 0;
  box-sizing: border-box;
}

.padding {
padding: 13px 17px 0 20px;
}

.number-img {
  width: 100%;
  overflow: hidden;
  position: relative;

  & img {
  	height: 100%;

  }
}

.arrow-left, 
.arrow-right {
  position: absolute;
  color: #fff;
  height: 100%;
  top: 0%;
  padding: 0 10px;
}

.arrow-left {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.arrow-right {
  right: 0%;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

}

.price-min {
  font-size: 19px;

  &:nth-last-child(1) {
    font-size: 14px;
  }

}

.reviews {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 19px;
}

.reviews-size {
  font-size: 14px;

  & span:nth-last-child(2) {
    font-weight: 700;
  }
}

.linie {
  margin: 5px auto 0;
  height: 1px;
  width: 230px;
  background: #1F20411A;

}

.reviews-content {
  display: flex;
}