
.header 
 .b-nav-bar
  .logo
   img(src="img/logo.svg")
   img(src="img/TOXIN.svg")
  ul.nav-bar
   li.nav-item.nav-item_active
    a О нас
   li.nav-item
    a Услуги 
    span.material-icons.arrow expand_more
   li.nav-item
    a Вакансии
   li.nav-item
    a Новости
   li.nav-item
    a Соглашения 
    span.material-icons.arrow expand_more
  .headers-btn
   button.button-default.button-default_border.btn-entry войти
   button.button-default.btn-reg зарегистрироваться
