include components/colors/block-color.pug
include components/type/block-type.pug

.colors-types
 .colors
  +colors('Dark Shade 100%', '#1F2041', 'darkshade-100')
  +colors('Dark Shade 75%', '#1F2041', 'darkshade-75')
  +colors('Dark Shade 50%', '#1F2041', 'darkshade-50')
  +colors('Dark Shade 25%', '#1F2041', 'darkshade-25')
  +colors('Dark Shade 5%', '#1F2041', 'darkshade-5')
  +colors('Purple', '#BC9CFF', 'purple')
  +colors('Green', '#6FCF97', 'green')

 .types 
  +type('type_max', 'H1', 'type_max', 'This one is the sub-section or widget title')
  +type('type_medium', 'H2', 'type_medium', 'Next one is the item title inside widgets')
  +type('type_min', 'H3', 'type_min', 'This is a label or CTA text')
  +type('', 'body', 'type_body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
